.gradle/
.kotlin/
.idea/
.DS_Store

build/
**/build/
target/
target-*/
**/target/
kotlin-js-store/

*.db
*.sqlite
*.sqlite3
*.log
*.pid
*.pem
*.key
*.keystore
*.jks

*.apk
*.aab
*.ap_
*.wasm.map

local.properties
.env
.env.*
!.env.example
